@{
    Layout = "_LayoutHomePage";
}

@model IEnumerable<JobInfo>

<div class="container">
    <h4 class="text-center mb-4 mt-4">Danh sách các công việc</h4>
    <div class="row g-4">
        @foreach (var jobInfo in Model)
        {
            <div class="col-lg-6" data-id="@jobInfo.Id">
                <div class="d-flex flex-column border rounded-4 p-4" style="height: 100%">
                    <div class="d-flex justify-content-between">
                        <h5 class="fw-semibold">@jobInfo.Position</h5>
                        @if (User.IsInRole("admin"))
                        {
                            <div class="d-flex gap-3">
                                <button class="delete btn btn-danger rounded" data-id="@jobInfo.Id">Delete</button>
                            </div>
                        }
                        else
                        {
                            <div></div>
                        }
                    </div>
                    <div>@jobInfo.Employer.CompanyName</div>
                    <div>@jobInfo.Address</div>
                    <p class="mt-2">@jobInfo.Salary VNĐ</p>

                    <div class="text-body-secondary mb-4 flex-grow-1"> @jobInfo.Describe</div>
                    <div class="d-flex justify-content-end text-body-secondary">@jobInfo.PostTime</div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts {
    <script>
        function deleteJob(jobId) {
            // Khởi tạo XMLHttpRequest object
            var xhr = new XMLHttpRequest();

            xhr.open("DELETE", "/App/Delete/" + jobId, true);

            // Định nghĩa hàm callback để xử lý khi yêu cầu hoàn thành
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var listItem = document.querySelector("div[data-id='" + jobId + "']");
                        if (listItem) {
                            listItem.remove();
                        }
                    } else {
                        console.error("Lỗi khi xóa công việc: " + xhr.status);
                    }
                }
            };

            // Gửi yêu cầu xóa công việc
            xhr.send();
        }

        var deleteButtons = document.querySelectorAll(".delete");
        deleteButtons.forEach(function (btn) {
            btn.addEventListener("click", function () {
                var jobId = btn.getAttribute("data-id");
                deleteJob(jobId);
            });
        });

    </script>
}