c@{
    Layout = "_LayoutHomePage";
}
@model IEnumerable<StoreUser>
<div class="container">
    <h4 class="text-center mb-4 mt-4">Danh sách nhà tuyển dụng</h4>
    @foreach (var user in Model)
    {
        <div class="col-lg-6">
            <div class="d-flex flex-column border rounded-4 p-4" style="height: 100%">
                <div class="d-flex justify-content-between">
                    <h5 class="fw-semibold">@user.FirstName</h5>
                    @if (User.IsInRole("admin"))
                    {
                        <form asp-controller="Account" asp-action="DeleteUserById" asp-route-id="@user.Id" method="post">
                            <input name="userId" value="@user.Id" type="hidden"/>
                            <button type="submit">Submit</button>
                        </form>
                    }
                    else
                    {
                        <div></div>
                    }
                </div>
                <div>@user.LastName</div>
                <div>@user.Email</div>
                <div>@user.Id</div>
                
            </div>
        </div>
    }
    @*<div class="table-responsive">
        <table class="table table-striped table-borderless ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Name</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>nguyenthuhuyen</td>
                    <td>Huyen Nguyen</td>
                    <td>
                        <form asp-action="DeleteJobInfo" asp-route-id="" method="post">
                            <input type="submit" value="Xóa" class="btn btn-danger" onclick="return confirm('Bạn có chắc muốn xóa công việc này không?');" />
                        </form>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>*@

</div>
